<style>
    .container > header{
        width:90vw;
        margin-left:auto;
        margin-right:auto;
        min-width:500px;
        margin-top:3%;
        padding-left:37%;
    }
    header > p{
        text-align:center;
    }
    header > h1, header > p, header > h2, header > span{
        float:left;
        margin : 0px;
        margin-left:1%;
    }
    header > span{
        font-size:2em;
        line-height:1.2;
        margin-left:2%;
    }
    header > p{
        line-height:4;
    }
    header >h1{
        font-weight:bold;
    }
    section{
        width:90vw;
        height:60vh;
        min-height:500px;
        margin-left:auto;
        margin-right:auto;
        min-width:1000px;
        clear:both;
    }
    section > article{
        width:80%;
        margin-left:10%;
        height:50%;
    }
    article > input[type="search"]{
        width:60%;
        margin-left:20%;
    }
    #search_box{
        width:140px;
        margin-top:1.5%;
    }
    article > article{
        width:90%;
        margin-top:1%;
        height:80%;
        border:1px solid #000;
        float:left;
    }
    article > span{
        width:5%;
        float:left;
        margin-top:9%;
        font-size:2em;
        text-align:center;
    }
    #list{
        border:1px solid #000;
        overflow-y:auto;
    }
    #r_list{
        overflow:hidden;
    }
    #r_list > img{
        width:20%;
        height:100%;
    }
    #list > img{
        width:25%;
        height:100%;
    }
    

</style>

<header>
        <h1>완호</h1>
        <p>님의</p>
        <h2>맞춤상품</h2>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
</header>
<section>
    <article>
        <input type="search">
        <%= image_tag "search.png", height: "9%", style: "margin-top:-1%;"%>
        <br>
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true" id="left_btn"></span>
        <article id="r_list">

        </article>
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true" id="right_btn"></span>
    </article>
    <article id="list">
    </article>
</section>


<script>
    var product_list=['product1.PNG', 'product2.PNG', 'product3.PNG', 'product4.PNG'];
    
    var src=new Array();
    src.push("<%= asset_path('product1.PNG') %>");
    src.push("<%= asset_path('product2.PNG') %>");
    src.push("<%= asset_path('product3.PNG') %>");
    src.push("<%= asset_path('product4.PNG') %>");
    src.push("<%= asset_path('product5.PNG') %>");
    src.push("<%= asset_path('product6.PNG') %>");


    for(var i=0;i<5;i++){//#r_list의 이미지 초기화
        $("#r_list").append('<img src='+src[i]+">");
    }


    
    $("#left_btn").click(function(){//왼쪽 버튼 클릭
        if($("#r_list > img").first().attr('src')!=src[0]){
            
            var temp=0;
            
            for(var i=0;i<src.length;i++){
                if($("#r_list > img").first().attr('src')==src[i]){
                    temp=i;
                }
            }

            temp=temp-1;
            
            $("#r_list > img").each(function(){
                $(this).attr('src', src[temp]);
                temp=temp+1;
            });
            
        }else{
            console.log("첫번쨰 사진");
        }
    })
    
    
    
    $("#right_btn").click(function(){//오른쪽 버튼 클릭
        if($("#r_list > img").last().attr('src')!=src[src.length-1]){

 
            var temp=0;
            for(var i=0;i<src.length;i++){
                if($("#r_list > img").first().attr('src')==src[i]){
                    temp=i;
                }
            }//for문을 돌리면서 #r_list의 첫번째 이미지가 src의 몇번째에 저장되있나 찾는다.

            $("#r_list > img").each(function(){
                temp=temp+1;
                $(this).attr('src', src[temp]);
            });
        
        
        }else{
            console.log("마지막 사진");
        }
    })
    
    
    var temp_src='undefined';
    
    var chk=false;
    $("#r_list > img").on('dragstart', function(){

        console.log('dragstart');
        
        temp_src=$(this).attr("src");
        chk=true;
    })

    $('#list').on('dragenter', function(){
        
        console.log('dragenter');
        
        if(chk==true){
            $(this).append('<img src='+temp_src+">");
            temp_src='undefined';
            chk=false;
        }
    })
    
    
</script>