<style>
    .container > header{
        margin-left:auto;
        margin-right:auto;
    }
    header > p{
        text-align:center;
    }
    header > h1, header > p, header > span{
        float:left;
        margin : 0px;
        margin-left:1%;
    }
    header > span{
        font-size:2em;
        line-height:1.2 !important;
    }
    header > p{
        line-height:4;
    }
    #name{
        font-weight:bold;
    }
    section{
        height:60vh;
        min-height:500px;
        margin-left:auto;
        margin-right:auto;
        clear:both;
    }
    section > article{
        margin-bottom:1%;
        height:50%;
    }
    article > form > input[type="search"]{
        border-radius:5px;
    }
    form{
        width:100%;
        height:6%;
    }
    #search_box{
        width:140px;
        margin-top:1.5%;
    }
    input[type="submit"]{
        background-color:#A6A6A6 !important;
        color:#fff !important;
        border:0px;
        border-radius:5px;
    }
    article > article{
        width:90%;
        margin-top:1%;
        height:80%;
        background-color:#eaeaea;
        margin-bottom:1%;
        float:left;
    }
    article > span{
        width:5%;
        float:left;
        margin-top:9%;
        font-size:2em;
        text-align:center;
        cursor:pointer;
    }
    #list{
        overflow-y:auto;                background:url(<%=image_path('recommened_back.png')%>);
        background-repeat:no-repeat;
        background-size:100% 100%;
    }
    #r_list > div{
        width:18%;
        margin-left:1%;
        margin-right:1%;
        margin-top:1%;
        margin-bottom:1%;
        height:100%;
        float:left;
    }
    
    #r_list{
        overflow:hidden;
    }
    #r_list > div > img{
        width:100%;
        height:70%;
    }

    #r_list > div > p{
        width:100%;
        height:20%;
        text-align:center;
        font-weight:bold;
        font-size:0.8em;
    }
    
    #list > div{
        width:90%;
        height:80%;
        margin-left:5%;
        overflow:auto;
    }
    #list > div > div{
        width:18%;
        margin-left:1%;
        margin-right:1%;
        margin-top:1%;
        margin-bottom:1%;
        height:98%;
        float:left;
    }
    #list > div > div > img{
        width:100%;
    }
    #list > div > p{
        width:100%;
        height:20%;
        text-align:center;
        font-weight:bold;
    }
    #list > div > div >p{
        font-size:0.8em;
        text-align:center;
        width:100%;
        overflow:hidden;
    }
    #store{
        font-weight:bold;
    }
    @media (min-width: 767px){
        .container > header{
            width:90vw;
            min-width:500px;
            padding-left:37%;
            margin-top:3%;
        }
        section{
            width:90vw;
            min-width:1000px;
        }
        article > form > input[type="search"]{
            width:60%;
            margin-left:20%;
        }

        section > article{
            width:80%;
            margin-left:10%;
        }
        #list > div{
            margin-top:3%;
        }
        #list > div > div > img{
            height:80%;
        }
        #list > div > div >p{
            height:20%;
        }
        #store{
            float:right;
            width:10%;
            background-color:#fff !important;
            color:#000 !important;
            border:3px solid #F15F5F;
            margin-right:10%;
        }
    }@media(max-width:767px){
         .container > header{
            width:73vw;
             margin-top:6%;
        }
        article > form > input[type="search"]{
            width:82%;
        }
        section > article{
            width:100%;
        }
        input[type="submit"]{
            width:16%;
        }
        section{
            width:100%;
        }
        #left_btn, #right_btn{
            font-size:1.5em;
            margin-top:22%;
        }
        #list{
            height:35%;
        }
        #list > div{
            margin-top:5%;
        }
        #list > div > div > img{
            height:75%;
        }
        #list > div > div >p{
            height:25%;
        }
        #store{
            width:100%;
            background-color:#F15F5F !important;
            color:#fff !important;
            height:8%;
        }
    }

</style>

<header>
        <h1 id='name'>완호</h1>
        <p>님의</p>
        <h1>맞춤상품</h1>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
</header>
<section>
    <article>
        <form action="/home/recommend" method="get">
            <input type="search" name="search">
            <input type="submit" value="검색">
        </form>
        <br>
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true" id="left_btn"></span>
        <article id="r_list">

        </article>
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true" id="right_btn"></span>
    </article>
    <article id="list">
        <div>
        </div>
    </article>
    <input type="submit" value="저장하기" id="store">
</section>


<script>

    var src=new Array();
    var lis=new Array();
        <% @arr.each do |x| %>
            lis.push("<%= x %>");
        <% end %>
                     
    var nam=new Array();
    <% @name.each do |x| %>
        nam.push("<%= x %>");
    <% end %>
                     
    for(var i=0;i<lis.length;i++){//#r_list의 이미지 초기화
        var num=lis[i].search('original');
        var num2=lis[i].search('type');
        lis[i] = lis[i].substring(num+15,num2+10);
    }
    
    //src.push("<%= asset_path('product1.PNG') %>");
    //src.push("<%= asset_path('product2.PNG') %>");
    //src.push("<%= asset_path('product3.PNG') %>");
    //src.push("<%= asset_path('product4.PNG') %>");
    //src.push("<%= asset_path('product5.PNG') %>");
    //src.push("<%= asset_path('product6.PNG') %>");


    for(var i=0;i<5;i++){//#r_list의 이미지 초기화

        $("#r_list").append('<div><img src='+lis[i]+">"+"<p>"+nam[i]+"</p></div>");
    }


    
    $("#left_btn").click(function(){//왼쪽 버튼 클릭
        if($("#r_list > div > img").first().attr('src')!=lis[0]){
            
            var temp=0;
            
            for(var i=0;i<lis.length;i++){
                if($("#r_list > div > img").first().attr('src')==lis[i]){
                    temp=i;
                }
            }

            temp=temp-1;
            
            $("#r_list > div > img").each(function(){
                $(this).attr('src', lis[temp]);
                $(this).next('p').text(nam[temp]);
                temp=temp+1;
            });
            
        }else{
            console.log("첫번쨰 사진");
        }
    })
    
    
    
    $("#right_btn").click(function(){//오른쪽 버튼 클릭
        if($("#r_list > div > img").last().attr('src')!=lis[lis.length-1]){

 
            var temp=0;
            for(var i=0;i<lis.length;i++){
                if($("#r_list > div > img").first().attr('src')==lis[i]){
                    temp=i;
                }
            }//for문을 돌리면서 #r_list의 첫번째 이미지가 src의 몇번째에 저장되있나 찾는다.

            $("#r_list > div > img").each(function(){
                temp=temp+1;
                $(this).attr('src', lis[temp]);
                $(this).next('p').text(nam[temp]);
            });
        
        
        }else{
            console.log("마지막 사진");
        }
    })
    
    
    var temp_src='undefined';
    var temp_nam='undefined';
    
    var chk=false;
    $("#r_list > div > img").on('dragstart', function(){

        console.log('dragstart');
        
        temp_src=$(this).attr("src");
        temp_nam=$(this).next("p").text();
        console.log(temp_nam);
        chk=true;
    })

    $('#list > div').on('dragenter', function(){
        
        console.log('dragenter');
        
        if(chk==true){
            $(this).append('<div><img src='+temp_src+">"+"<p>"+temp_nam+"</p></div>");
            temp_src='undefined';
            temp_nam='undefined';
            chk=false;
        }
    })
    
    
</script>