<style>
    section{
        width:40%;
        min-width:500px;
        height:100%;
        margin-left:auto;
        margin-right:auto;
        margin-top:5%;
    }
    label{
        width:50%;
        float:left;
    }
    .form-control{
        width:50%;
        min-height:25px;
        height:4vh;
        float:left;
    }
    .simple_form > .form-group, #detail > .form-group{
        width:100% !important;
    }
    .form-group{
        width:100%;
        float:left;
    }
    a, a:visited{
        color:#4374D9;
    }
    .col-md-12{
        padding:0px !important;
    }
    .sub{
        float:right;
        background-color:#FFA7A7 !important;
        color:#fff !important;
        border:0px;
        border-radius:5px;
        background-image:none;
    }
</style>
<section>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.input :email, required: false, autofocus: true, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :password, required: false, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group col-md-12">
        <%= f.input :remember_me, as: :boolean, inline_label: true, label: false if devise_mapping.rememberable? %>
      </div>
      <%= f.button :submit, "Sign in", class: 'btn btn-default sub' %>
    <% end %>

    <%= render "devise/shared/links" %>
</section>